* {
    padding: 0;
    margin: 0;
}
body, html{
    width: 100%;
    height: 100%;
    font-family: Oswald;
}
.justify{
    display: flex;
    justify-content: center;
}
.separate{
    background: black;
    width: 100%;
    height: 1px;
}
@font-face {
    font-family: DelaGothic;
    src: url(../fonts/DelaGothicOne-Regular.ttf);
}
@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}